@{layout('')}
@{title('Files')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="https://cdn.componentator.com/spa.min@18.css" />
	<script src="https://cdn.componentator.com/spa.min@18.js"></script>
	@{import('meta', 'head', 'ui.css + default.css', 'default.js + ui.js', 'favicon.ico')}
</head>
<body data---="exec">

	<div data---="LAZY message__null__style:2"></div>
	<div data---="LAZY menu__null__style:2"></div>
	<div data---="LAZY floatinginput"></div>
	<div data---="LAZY spotlight"></div>
	<div data---="LAZY approve"></div>
	<div data---="LAZY filebrowser"></div>
	<div data---="LAZY clipboard"></div>

	<div data---="mainprogress__common.progress"></div>
	<div data---="loading" class="hidden"></div>
	<div data---="shortcuts"></div>


	<div class="toolbar">
		<button class="exec" data-exec="openSideMenu" data-name="sidemenu" title="@(sidemenu)"><i class="fas fa-bars"></i></button>
		<hr />
	</div>

	<div class="breadcrumb" data-bind="?.breadcrumb__template">
	<script type="text/html">
		{{ foreach m in value }}
			<span data-path="{{ m.path }}" class="exec{{ if m.selected }} b{{ fi }} directory" data-exec="?/path">{{ m.name | empty('Root') }}</span>
			{{ if !m.selected }}
			<i class="fas fa-angle-right"></i>
			{{ fi }}
		{{ end }}
	</script>
	</div>

	<div data---="drawer__common.sidemenu__if:open;align:left" class="hidden">
		<button class="exec" data-exec="openPage" name="main" ><i class="fa fa-bars"></i>Main</button>
		<button class="exec" data-exec="openPage" name="designer" ><i class="fa fa-star"></i>Designer</button>
		<button class="exec" data-exec="openPage" name="explorer" ><i class="fa fa-list"></i>Explorer</button>
		<hr />
		<a href="#"><i class="fa fa-trash-alt"></i>Trash</a>
	</div>

	<div data---="columns__null__parent:window" class="hidden invisible">
		<section data-size="50%">
			<div data---="part__common.page__if:explorer;url:/parts/explorer.html"></div>
		</section>
		<section data-size="50%">
			<div data---="part__common.page__if:explorer;url:/parts/explorer.html"></div>
		</section>
	</div>


	@{if user.sa}
	<div data---="importer__common.form__if:settingsform;url:/forms/settings.html"></div>
	@{fi}

	@{json(user, 'userdata')}

	<script>
		var common = {};

		DEF.api = '/api/';
		NAV.clientside('.R');
		ENV('ts', 'yyyy-MM-mm HH:mm');

		var user = PARSE('#userdata');

		common.page = 'explorer';
		common.editor = 'editor';
		common.sidemenu = 'closed';

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 500);
		});

		ROUTE('/browse', function() {
			SET('common.page', 'main');
		});

		ROUTE('/explorer/', function() {
			SET('common.page', 'explorer');
		});

		ROUTE('/designer/', function() {
			SET('common.page', 'designer');
		});

		function openSideMenu() {
			SET('common.sidemenu', 'open')
		}

		function openPage(e) {
			const name = e[0].name;
			SET('common.page', name || 'main')
		}

		SETTER(true, 'shortcuts/register', 'F1', AEXEC('browser/search'));
		SETTER(true, 'shortcuts/register', 'F4', AEXEC('explorer/save'));

	</script>

</body>
</html>