<div class="toolbar">
	<button data-bind="?.view__.selected:value==='list'" class="exec" data-exec="?/edit" data-name="browse" title="@(Browse)"><i class="fas fa-bars"></i></button>
	<hr />
	<button class="highlight exec" data-exec="?/upload" title="@(Upload file to the current directory)"><i class="fa fa-cloud-upload"></i></button>
	<button class="exec" data-exec="?/create" title="@(Create directory)"><i class="fa fa-folder-plus"></i></button>
	<button class="exec" data-exec="?/search" title="@(Search)"><i class="fa fa-search"></i></button>
	<hr />
	<button data-bind="?.view__.selected:value==='list'" class="exec" data-exec="?/view" data-name="list" title="@(Show as list)"><i class="fas fa-list"></i></button>
	<button data-bind="?.view__.selected:value==='icons'" class="exec" data-exec="?/view" data-name="icons" title="@(Show as icons)"><i class="fas fa-th"></i></button>
	<hr />
	<button class="exec" data-exec="?/settings" title="@(Settings)"><i class="fa fa-cog"></i></button>
</div>
